<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="졸업하면 뭐하지" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>졸업하면 뭐하지?</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/home/bootstrap.css" rel="stylesheet">
	<link href="/css/home/styles.css" rel="stylesheet">
    <link href="/css/home/custom.css" rel="stylesheet">
    <link href="/css/home/tab.css" rel="stylesheet">
    <link href="/css/home/community.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<!-- Favicon  -->
    <link rel="icon" href="images/icon1.png">
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand logo-image" href="/"><img src="/contents/logo.png" style="width: 140px; height: 80px;" alt="alternative"></a> 
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="/">졸업하면 뭐하지?</a> -->
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/hire"> 채용정보 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/gongmo"> 공모전정보 </a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/license"> 자격증백과 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/jobs"> 직업백과 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/community"> 커뮤니티 </a>
                    </li>
                </ul>
                  <span class="nav-item">
                    <a class="btn-outline-sm" href="/login">로그인</a>
                </span>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->    
</head>
<body>
  <header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xl-8">
                    <div class="text-container">
                        <h1>정보처리기사</h1>
                        <p class="p-large">정보처리기사는 컴퓨터 지식 및 기술 전문 인력 양성을 위해 제정된 제도이다. 자격증 취득 후 분석, 설계, 구현, 시험, 운영 및 유지 보수 등을 수행할 수 있다.</p>
                        <p class="p-large">
                            <a class="btn-solid-lg page-scroll" href="https://www.q-net.or.kr/man001.do?id=man00103&gSite=Q&gId=&redir=https%3A%2F%2Fwww.q-net.or.kr%2Frcv002.do%3Fid%3Drcv00201%26gSite%3DQ%26gId%3D">접수 바로가기</a>
                        </p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->

      <div id="jobinfo-main">  
        <div id="title">
          <h1>정보처리기사</h1>
        </div>
        <div id="tabbed-forms" class="cliffs-tabbed-forms">
          <!-- Tab 1 -->
          <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_4'>
            <form method='post' enctype='multipart/form-data' id='gform_4' action='/#/'>
              <div class='gform_heading'>
                <h3 class='gform_title'>홈</h3><br>
        
                <h4>개요</h4>
                <p style="font-style: bold;">정보처리기사는 컴퓨터 지식 및 기술 전문 인력 양성을 위해 제정된 제도이다. 자격증 취득 후 분석, 설계, 구현, 시험, 운영 및 유지 보수 등을 수행할 수 있다.</p>
                <br><br>
                <h2 style="color: #000000;">정보처리기사(이)란?</h2><br><br>
                <h4>정보처리기사 난이도와 준비기간은 어떻게 될까?</h4>
                <p> 2020년 기준으로 필기시험 합격률은 약 57.3%, 실기시험 합격률은 약 17.7%이며 2021년 1회차 시험 필기시험 합격률은 약 82%, 실기시험 합격률은 약 39%이다. 필기시험과 실기시험을 비교해봤을 때, 필기시험에 비해 실기시험의 난이도가 월등히 높은 편이다. 그러나 각 회 차의 합격률의 등락이 굉장히 크기 때문에 필기시험 역시 꼼꼼히 준비해야 한다. 다만 필기 시험은 전공자의 경우 1주만 노력해도 취득할 수 있다는 의견이 많으며, 비 전공자의 경우 평균 2달 정도는 준비해야 한다.</p>
                <br><br>

                <h4>정보처리기사는 누구에게 필요할까?</h4>
                <p> IT분야로 진출을 희망하고 있다면 반드시 취득해야 하는 자격증이다. 워낙 대중적이고 난이도도 쉬워 보유해도 경력에 크게 작용하지 않는다고 의견도 많기는 하나, 여러 가지 이유로 반드시 취득하는게 좋다. 제일 보편적이고 일반적인 IT 자격증이다. 즉 IT 업계에서 면허증과 같은 자격으로 인식되어 있고, 지금 당장 많은 경력과 실력으로 증명할 수 없다면 불이익을 받을 수 있는 확률이 높고 정보처리기사 학습 지식이 아예 도움이 되지 않는 것은 아니다. 적어도 기술적 용어들에 대한 이해와 암기가 가능하고 이는 상호간의 원활한 커뮤니케이션과 본인의 업무처리능력과도 직결될 수 있다는 점이다. 또한 사람에 대한 성실성, 학습 의지의 지표가 될 수 있고 짧은 기간만 투자해도 획득할 수 있다.
                </p><br><br>


                <h4>정보처리기사와 컴퓨터활용능력 1급의 차이점은?</h4>
                <p> 2020년 기준으로 필기시험 합격률은 약 57.3%, 실기시험 합격률은 약 17.7%이며 2021년 1회차 시험 필기시험 합격률은 약 82%, 실기시험 합격률은 약 39%이다. 필기시험과 실기시험을 비교해봤을 때, 필기시험에 비해 실기시험의 난이도가 월등히 높은 편이다. 그러나 각 회 차의 합격률의 등락이 굉장히 크기 때문에 필기시험 역시 꼼꼼히 준비해야 한다. 다만 필기 시험은 전공자의 경우 1주만 노력해도 취득할 수 있다는 의견이 많으며, 비 전공자의 경우 평균 2달 정도는 준비해야 한다.</p>
                <br><br>
    
                <h4>정보처리기사의 장점은?</h4>
                <p> 대학교의 IT계열 학과 중에서는 정보처리기사를 따면 졸업 논문(시험)을 갈음하는 것으로 인정해주는 곳도 있다. 특히 정보처리기사 자격증이 있으면 독학학위제를 통하여 컴퓨터 과학 학사학위 취득이 가능하다. 다른 기사 자격증 취득 시에도 정보처리기사 자격증은 유용하게 사용될 수 있는데, 정보처리기사를 취득하면 정보기술분야 자격증이 생기는 것이기 때문에 동일·유사분야 자격증 조건을 만족하게 된다. 같은 대항목 안에 속해있는 정보통신분야 내의 모든 기사 자격증을 포함하여 전기·전자, 안전관리 등의 기사 자격증에 응시 자격을 가질 수 있게 된다. 
                    4년제 대학 모든 졸업자가 취득할 수 있는 자격증이다. 전공 불문 모두에게 개방된 대졸자들을 위한 자격증이다. 그렇기 때문에 기사 자격증 중에서 응시자가 가장 많다. 정보처리기사를 취득하면 관련 기사 종목 응시 자격이 오픈되고 여기에 산업안전기사 자격증을 더하면, 거의 모든 전문 공업관련 기사 자격증에 진입할 수 있다. 이 경로를 통해 법학 전공자가 전기기사, 전기공사기사를 취득해 한국전력공사에 들어간 사례가 있다. 정보처리기사는 국가 간 상호호환 자격증에 해당된다. 우리나라는 일본, 중국, 베트남 3개국과 MOU를 체결하여 정보처리기사는 일본의 소프트웨어개발기술자, 중국의 소프트웨어설계기사, 베트남의 소프트웨어설계기사와 상호 인정되는 자격 종목이 되었다.</p>
                <br><br>

              </div>                               
            </form>
            </div>

          <!-- Tab2 -->
          <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_5'>
            <form method='post' enctype='multipart/form-data' id='gform_5' action='/#/'>
              <div class='gform_heading'>
                <h3 class='gform_title'>Q&A</h3>
                <section class="notice">
                  <!-- board list area -->
                  <div id="board-list">
                      <div class="container">
                          <table class="board-table">
                              <thead>
                              <tr>
                                  <th scope="col" class="th-num">번호</th>
                                  <th scope="col" class="th-ctg">카테고리</th>
                                  <th scope="col" class="th-title">제목</th>
                                  <th scope="col" class="th-writer">작성자</th>
                                  <th scope="col" class="th-date">등록일</th>
                             </tr>
                              </thead>
                          <tbody>
                              <tr>
                                  <td>8</td>
                                  <td><a href="#!">문제풀이</a></td>
                                  <th>
                                      <a href="#!">실기문제풀이 질문</a>
                                      <p>테스트</p>
                                  </th>
                                  <td>김선웅</td>
                                  <td>2023.06.12</td>
                              </tr>
                
                              <tr>
                                <td>8</td>
                                <td><a href="#!">문제풀이</a></td>
                                <th>
                                    <a href="#!">실기문제풀이 질문</a>
                                    <p>테스트</p>
                                </th>
                                <td>김선웅</td>
                                <td>2023.06.12</td>
                              </tr>
                
                              <tr>
                                <td>5</td>
                                <td><a href="#!">응시자격</a></td>
                                <th>
                                    <a href="#!">비전공자 질문</a>
                                    <p>테스트</p>
                                </th>
                                <td>김선웅</td>
                                <td>2023.06.01</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td><a href="#!">교재</a></td>
                                <th>
                                    <a href="#!">필기는 교재가 필수인가요?</a>
                                    <p>테스트</p>
                                </th>
                                <td>강승하</td>
                                <td>2022.06.05</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td><a href="#!">문제풀이</a></td>
                              <th>
                                  <a href="#!">이번 실기 4번 문제 질문이요</a>
                                  <p>테스트</p>
                              </th>
                              <td>김선웅</td>
                              <td>2023.06.11</td>
                            </tr>
        
                            <tr>
                                <td>8</td>
                                <td><a href="#!">응시자격</a></td>
                                <th>
                                    <a href="#!">학점은행제 질문</a>
                                    <p>테스트</p>
                                </th>
                                <td>김선웅</td>
                                <td>2023.06.12</td>
                            </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- board seach area -->
                  <div id="board-search">
                      <div class="container">
                          <div class="search-window">
                              <form action="">
                                  <div class="search-wrap">
                                      <label for="search" class="blind">공지사항 내용 검색</label>
                                      <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                      <button type="submit" class="btn btn-dark">검색</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>    
                </section>  
                </div>
          </form>
        </div>

        <!-- Tab3 -->
            <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_6'>
                <form method='post' enctype='multipart/form-data' id='gform_6' action='/#/'>
                  <div class='gform_heading'>
                    <h3 class='gform_title'>자료실</h3>
                    <section class="notice">
                      <!-- board list area -->
                      <div id="board-list">
                          <div class="container">
                              <table class="board-table">
                                  <thead>
                                  <tr>
                                      <th scope="col" class="th-num">번호</th>
                                      <th scope="col" class="th-ctg">카테고리</th>
                                      <th scope="col" class="th-title">제목</th>
                                      <th scope="col" class="th-writer">작성자</th>
                                      <th scope="col" class="th-date">등록일</th>
                                 </tr>
                                  </thead>
                              <tbody>
                                  <tr>
                                      <td>3</td>
                                      <td><a href="#!">자료</a></td>
                                      <th>
                                          <a href="#!">정보처리기사 기출문제&답안 (2023.03.07)</a>
                                          <p>테스트</p>
                                      </th>
                                      <td>졸업하면 뭐하지?</td>
                                      <td>2022.03.14</td>
                                  </tr>
                    
                                  <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2022.07.07)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
                    
                                <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2022.03.12)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
            
                                <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2021.07.19)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2021.03.07)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2020.08.04)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
            
                                <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2020.03.07)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
            
                                <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2019.07.22)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
            
                                <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2019.03.07)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
            
                                <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2018.07.17)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
            
                                <tr>
                                    <td>3</td>
                                    <td><a href="#!">자료</a></td>
                                    <th>
                                        <a href="#!">정보처리기사 기출문제&답안 (2018.04.12)</a>
                                        <p>테스트</p>
                                    </th>
                                    <td>졸업하면 뭐하지?</td>
                                    <td>2022.03.14</td>
                                </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <!-- board seach area -->
                      <div id="board-search">
                          <div class="container">
                              <div class="search-window">
                                  <form action="">
                                      <div class="search-wrap">
                                          <label for="search" class="blind">공지사항 내용 검색</label>
                                          <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                          <button type="submit" class="btn btn-dark">검색</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>    
                    </section>  
                    </div>
              </form>
            </div>
        </div>
    </div>
      <!-- Site footer -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify"><i> 졸업하면 뭐하지?</i> 는 졸업 후 진로 고민, 취업 고민, 스펙 업에 대한 고민 등 우리가 앞으로 나아가면서 발생하는 고민들에 대한 도움을 줍니다. 또한 우리는 효율적인 시간의 사용에 도움을 주고 여러분의 발전을 기원합니다. 미래를 향한 발걸음을 저희와 함께 내딛어봅시다. <div class=""></div></p>
            </div>
            <div class="col-xs-6 col-md-3">
              <h6>Category</h6>
              <ul class="footer-links">
                <li><a href="">공모전</a></li>
                <li><a href="">직업백과</a></li>
                <li><a href="">자격증추천</a></li>
                <li><a href="">커뮤니티</a></li>
                <li><a href="">채용공고</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-md-3">
              <h6>Quick</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">운영진</a></li>
                <li><a href="http://scanfcode.com/contact/">문의</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/"></a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">개인보호관리정책</a></li>
                <li><a href="http://scanfcode.com/sitemap/">보안</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
           <a href="/">졸업하면 뭐하지?</a>.
              </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100005190901844"><i class="fa fa-facebook"></i></a></li>
                <li><a class="kakao" href="https://open.kakao.com/o/sBP4v6nf"><i class="fa fa-kakao"></i></a></li>
                <li><a class="instagram"href="https://www.instagram.com/__kimsunwoong/"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
  </footer>
    <!-- Scripts -->
    <!-- Scripts -->
    <script src="/js/home/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/js/home/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/js/home/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/js/home/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/js/home/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/js/home/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/js/home/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/js/home/scripts.js"></script> <!-- Custom scripts -->
    <script src="/js/home/tab.js"></script> <!-- Custom scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>