<!DOCTYPE html>
<html>
<head>
    <title>졸업하면 뭐하지?_로그인</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/css/home/bootstrap.css" rel="stylesheet"> 
	<link href="/css/home/styles.css" rel="stylesheet"> 
    <script src="/js/home/register.js" defer></script>
    <style>
		body {
			background-color: #ffffff;
        }

        .text-stroke {
            padding: 3.6rem;
            font-size: 3.6rem;
            color: black;
        }

        h3 {
            margin-top: 30px;
            margin-bottom: 10px;
        }
		h2 {
			text-align: center;
			margin-top: 0px;
			color: #000000;
		}

		form {
			background-color: #fff; 
			border-radius: 10px;
			padding: 20px;
			width: 500px;
			margin: 0 auto;
			margin-top: 100px;
		}

		label {
			display: block;
			margin-bottom: 8px;
            margin-top: 15px;
			color: #333;
		}

		input[type="text"], input[type="password"] {
			padding: 10px;
			border: 2px solid #348fe4;
			border-radius: 5px;
			width: 100%;
			margin-bottom: 20px;
			box-sizing: border-box;
		}
	</style>
</head>
<body>
    <form>
        <div style="text-align : center;"><a href="/"> <img src="/contents/logo.png" style="width: 200px; height: 120px;" href="/" alt="alternative"></a></div>
        <h3 style="text-align: center;">환영합니다.</h3>
        <p style="text-align: center;">졸업하면 뭐하지?는 IT 지식공유 포럼입니다.</p>
        <label for="username">아이디</label>
		<input id="user" type="text" name="username" placeholder="아이디"><br>
        <label for="username">이름</label>
        <input id="name" type="text" name="username" placeholder="이름"><br>
        <label for="username">비밀번호</label>
		<input id="pw" type="password" name="password" placeholder="비밀번호"><br>
        <input id="confirm-pw" type="password" name="password" placeholder="비밀번호 확인"><br>
        <div style=" text-align: center;">
        <p class="message">이미 회원이신가요? <a href="/login">로그인 </a></p>
		<p id="btn" class="btn btn-outline-sm">회원가입</p>
        </div>
    </form>
</body>
</html>
