<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/home/write_view.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>졸업하면 뭐하지?</title>
</head>
<body>
    <article class="view">

        <header>
          <div>
            <img src="http://www.myiconfinder.com/uploads/iconsets/128-128-be48a6f49c788fe001423d7cd4c2b106-search.png" alt="">
            <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-20e059b3a1760451aa5a5b7b18024e39.png" alt="">
          </div>
        </header>
        <div>
          <h4>일상 & 고민</h4>
          <h3>구글 합격했습니다.</h3>
          <p>선웅</p>
        </div>
        <div>
          <p>2023.6.13. 18:31</p>
          <div>
            <p><img src="http://www.myiconfinder.com/uploads/iconsets/256-256-f269bbc2a3bd8805b0dccb6c36dd2fac.png" alt=""> 0</p>
            <p><img src="http://www.myiconfinder.com/uploads/iconsets/256-256-54916c70e41c8ace3e3c333f520818a4.png" alt="">11</p>
          </div>
        </div>    
        <div>
          <p>
            코로나 터지고 일 쉬다가 여러군데 면접 봤었는데 연락이 없고 뽑는 인원 줄어든다 하길래 떨어진 줄 알았는데 이틀 전에 합격 통보 받았네요.<br>
            너무 좋은 일이긴 한데 한 편으로는 걱정도 되고 그러네여.. 그냥 생각 정리가 잘 안돼서 글 남겨봤습니다~
          </p>
        </div>
        <form class="" action="index.html" method="post">
          <input type="button" name="" value="#구글">
          <input type="button" name="" value="#취업성공">
          <input type="button" name="" value="#조언부탁">
          <input type="button" name="" value="#Google">
          <div>
            <button type="button" name="button">좋아요 <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-54916c70e41c8ace3e3c333f520818a4.png" alt=""></button>
            <button>북마크<img src="http://www.myiconfinder.com/uploads/iconsets/256-256-34578ffc1b66c5066d16f791d807326b-share.png" alt=""></button>
          </div>
        </form>
        <div>
          <p>댓글 <span>2</span></p>
    
          <div>
            <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-5d8cab7b01ffef290b73909d06d92705.png" alt="">
            <div>
              <span>승하</span>
              <small>1시간 전</small>
              <p>괜찮아요 인간은 적응의 동물이니까요!</p>
              <span>답글</span>
            </div>
            <pre></pre>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
    
          <div>
            <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-5d8cab7b01ffef290b73909d06d92705.png" alt="">
            <div>
              <span>선웅</span>
              <small>2시간 전</small>
              <p>복에 겨운 소리하시네요 ㅋㅋ 축하합니다!!
              </p>
              <span>답글</span>
            </div>
            <pre></pre>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
          <pre>

          </pre>
          <form class="" action="index.html" method="post">
            <textarea style="resize:none;" name="name" rows="8" cols="80" placeholder="댓글을 입력해주세요."></textarea>
            <div>
              <input id="hide_coment" type="checkbox" name="" value="">
              <label for="hide_coment">비밀글</label>
              <button type="button" name="button">등록</button>
            </div>
          </form>
        </div>
        <div>
          <!-- line -->
        </div>
</body>
</html>