<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0">
  <title>졸업하면 뭐하지?</title>
  <link rel="stylesheet" href="style.css">
  <style type="text/css"></style>

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="script.js"></script>
  <script type="text/javascript"></script>

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/home/write_view.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>

<body>
  <article class="write">
    <div style="height: 70px;">
        <a class="navbar-brand logo-image" href="/"><img src="/contents/logo.png" style="width: 110px; height: 50px;" alt=""></a>
      <h4 style="margin-top: 13px; margin-right: 70px;">졸업하면 뭐하지?</h4>
      <img src="https://ssl.pstatic.net/static/m/cafe/mobile/icons/ico-appbar-bk-menu.svg">
    </div>
    <nav>
      <a href="#"><i class="fas fa-images fa-lg"></i></a>
      <!-- after로 오른쪽에 아래앵글 추가해-->
      <select class="" name="단락종류">
        <option value="">제목1</option>
        <option value="">제목2</option>
        <option value="" selected>본문1</option>
        <option value="">본문2</option>
      </select>
      <select class="" name="서체종류">
        <option value="">기본서체</option>
        <option value="">고딕</option>
        <option value="">명조</option>
        <option value="">궁서</option>
      </select>

      <a href="#"><i class="fas fa-bold fa-lg"></i></a>
      <a href="#"><i class="fas fa-italic fa-lg"></i></a>
      <a href="#"><i class="fas fa-underline fa-lg"></i></a>

      <a href="#"><i class="fas fa-align-left fa-lg"></i></a>
      <a href="#"><i class="fas fa-align-center fa-lg"></i></a>
      <a href="#"><i class="fas fa-align-right fa-lg"></i></a>
      <a href="#"><i class="fas fa-align-justify fa-lg"></i></a>

      <a href="#"><i class="fas fa-quote-left fa-lg"></i></a>
      <a href="#"><i class="far fa-smile-wink fa-lg"></i></a>
      <a href="#"><i class="fas fa-link fa-lg"></i></a>

    </nav>

    <form class="" action="index.html" method="post">
      <select class="" name="게시판을 선택하세요.">
        <option value="">일상 & 고민</option>
        <option value="">Q & A</option>
        <option value="">코드 리뷰</option>
        <option value="">자유게시판</option>
        <option value="">기술 토론</option>
      </select>
      <br>
      <input type="text" name="" value="" placeholder="제목을 입력하세요.">
      <textarea style="resize:none;" name="name" rows="10" cols="80" placeholder="내용을 입력하세요."></textarea>
      <input type="text" name="" value="#태그입력" placeholder="태그를 입력하세요.">
    </form>

    <div>
      <div>
        <p><a href="#"></a></p>
        <p><a href="#"></a></p>
      </div>
      <div>
        <input type="submit" name="" value="임시저장">
        <input type="submit" name="" value="완료">
      </div>
    </div>
  </article>
  </body>
  </html>