<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="졸업하면 뭐하지" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>졸업하면 뭐하지?</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/home/bootstrap.css" rel="stylesheet">
	  <link href="/css/home/styles.css" rel="stylesheet">
    <link href="/css/home/custom.css" rel="stylesheet">
    <link href="/css/home/tab.css" rel="stylesheet">
    <link href="/css/home/roadmap.css" rel="stylesheet">
    <link href="/css/home/level.css" rel="stylesheet">
    <link href="/css/home/graph.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<!-- Favicon  -->
    <link rel="icon" href="images/icon1.png">
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand logo-image" href="/"><img src="/contents/logo.png" style="width: 140px; height: 80px;" alt="alternative"></a> 
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="/">졸업하면 뭐하지?</a> -->
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/hire"> 채용정보 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/gongmo"> 공모전정보 </a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/license"> 자격증백과 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/jobs"> 직업백과 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/community"> 커뮤니티 </a>
                    </li>
                </ul>
                  <span class="nav-item">
                    <a class="btn-outline-sm" href="/login">로그인</a>
                </span>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->    
</head>
<body>
  <header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xl-8">
                    <div class="text-container">
                        <h1>데이터베이스관리자</h1>
                        <p class="p-large">
                          데이터베이스관리자는 컴퓨터를 사용하여 각종 데이터를 체계적으로 수집, 정리, 가공하거나 입력하여 데이터베이스를 구축, 관리, 분석하는 일을 합니다.
                        </p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->

      <div id="job-main">  
        <div id="title">
          <h1>데이터베이스관리자</h1>
        </div>
        <div id="tabbed-forms" class="cliffs-tabbed-forms">
          <!-- Tab 1 -->
          <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_4'>
            <form method='post' enctype='multipart/form-data' id='gform_4' action='/#/'>
              <div class='gform_heading'>
                <h3 class='gform_title'>요약하기</h3><br>
                <h3>하는일</h3>
                <p style="font-style: bold;">
                  데이터베이스관리자는 컴퓨터를 사용하여 각종 데이터를 체계적으로 수집, 정리, 가공하거나 입력하여 데이터베이스를 구축, 관리, 분석하는 일을 합니다.
                  데이터베이스를 분석하고 전산시스템 사용자에 대한 등록, 데이터 접근 범위, 읽고 쓰기 권한, 사용자 로그인 및 암호를 관리합니다.
                  데이터베이스 시스템에 장애가 발생하거나 서버 부품의 고장으로 인해 문제가 발생하면 신속히 원인을 파악하고 빠르게 시스템을 복구합니다.
                  데이터베이스를 매일 또는 정기적으로 백업하거나 보관하여 데이터의 손실을 예방합니다.
                  고객이 요구하는 특정 분야의 자료를 일정 기간 동안 수집하여 정리하고, 입력된 자료를 검토하여 문제점을 보완합니다.                
                  <br><br>
                
                <h3>핵심능력</h3>
                <p> 
                  수리, 논리력
                </p>
                <br><br>
                <h3>적성 및 흥미</h3><br>

                <h5>적성</h5>
                <p>IT분야로 진출을 희망하고 있다면 반드시 취득해야 하는 자격증이다. 워낙 대중적이고 난이도도 쉬워 보유해도 경력에 크게 작용하지 않는다고 의견도 많기는 하나, 여러 가지 이유로 반드시 취득하는게 좋다. 제일 보편적이고 일반적인 IT 자격증이다. 즉 IT 업계에서 면허증과 같은 자격으로 인식되어 있고, 지금 당장 많은 경력과 실력으로 증명할 수 없다면 불이익을 받을 수 있는 확률이 높고 정보처리기사 학습 지식이 아예 도움이 되지 않는 것은 아니다. 적어도 기술적 용어들에 대한 이해와 암기가 가능하고 이는 상호간의 원활한 커뮤니케이션과 본인의 업무처리능력과도 직결될 수 있다는 점이다. 또한 사람에 대한 성실성, 학습 의지의 지표가 될 수 있고 짧은 기간만 투자해도 획득할 수 있다.
                </p><br>
                
                <h5>흥미</h5>
                <p>
                  정보시스템의 데이터베이스서버에 저장된 데이터를 다루기 때문에 최신 기술 정보나 데이터와 관련된 관리 방법을 탐구하는 것을 좋아하는 사람에게 적합합니다.
                  팀에 소속되어 일하거나 데이터베이스와 관련된 정보를 공유하고 소통하는 경우도 있기 때문에 사람들과 같이 일하는 것을 어려워하지 않는 사람에게 적합합니다.                
                </p><br>

                <h3>태그</h3>
                <p> 
                  IT, DB관리자, DB, 빅데이터, 개발자, 기술자, 컴퓨터
                </p>
                <br><br>
    
                <h3>평균연봉</h3>
                <p> 
                  4,600만원
                </p>
                <br><br>

                <h3>준비방법</h3><br>
                
                <h5>정규교육과정</h5>
                <p>
                  전문대학 및 대학교에서 컴퓨터공학과, 전자공학과, 정보처리학과 등을 전공하는 것이 유리합니다.                
                </p><br><br>

                <h5>직업훈련</h5>
                <p>
                  직업훈련포털을 통해 사설 학원에서 운영하는 데이터관리, 오라클, MySQL, 빅데이터 등과 관련된 교육 과정을 통해 훈련을 받을 수 있습니다.
                </p><br><br>

                <h5>관련자격증취득</h5>
                <p>
                  국가자격증으로는 한국산업인력공단에서 시행하는 정보처리기사, 정보처리산업기사나 민간공인 자격증인 SQL등이 있습니다.                
                </p><br><br>

                <h5>입직 및 취업방법</h5>
                <p>
                  정보컨설팅업체, 시스템통합(SI)업체, 시스템 개발업체 등 대량의 데이터를 관리하고 유통하는 일반기업 및 공공기관 등에 공개 채용이나 특별 채용을 통해 취업할 수 있습니다.                
                  데이터베이스 관련 분야에 취업하기 위해서는 데이터 관련 직업훈련을 받고 실무 경력을 쌓거나 전문대학이나 대학교에서 정보통신공학을 전공하는 것이 필요하며, 데이터 분석 분야는 대학교 및 석사 또는 박사 졸업의 학력이 요구되기도 합니다.
                </p><br><br>

                <h3>직업전망</h3>
                <p> 
                  향후 5년간 데이터베이스관리자의 관련 직업인 데이터베이스개발자의 일자리 규모는 현 상태를 유지하거나 다소 증가할 전망입니다. 모바일기기의 폭발적인 증가는 데이터 사용의 폭증으로 이어지고, 이는 실시간 대용량 데이터 분석에 대한 수요로 이어졌으며, 빅데이터의 실제적인 활용은 향후 DB산업의 안정적인 수요로 작용할 전망입니다. 이러한 상황을 종합하면 데이터베이스개발자의 일자리는 현 상태를 유지하거나 다소 증가할 것으로 전망됩니다.
                </p>
                <br><br>
              </div>                               
            </form>
            <a class="btn-solid-lg page-scroll" href="/jobs">목록으로</a>
            </div>
          
          <!-- Tab2 -->
          <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_5'>
            <form method='post' enctype='multipart/form-data' id='gform_5' action='/#/'>
              <div class='gform_heading'>
                <h3 class='gform_title'>임금/만족도/전망</h3><br>

                <h3>임금수준</h3>
                  <p style="font-style: bold;">
                    데이터베이스관리자의 관련 직업인 데이터베이스개발자의 평균연봉(중앙값)은 4,600만원으로, 조사 대상 전체 직업 평균연봉(중앙값)인 4,072만원과 비교하여 높은 수준입니다. 
                    <br><br>

                <h3>임금현황</h3>
                <div class="rates-bar-graph">
                  <div class="y-labels">
                    <span class="y-label y-1">$180</span>
                    <span class="y-label y-2">$150</span>
                    <span class="y-label y-3">$120</span>
                    <span class="y-label y-4">$90</span><span class="y-label y-5">$60</span>
                    <span class="y-label y-6">$30</span>
                    <span class="y-label y-7">&nbsp;</span>
                  </div>
                  <div class="graph-content">
                    <div class="graph-bg">
                      <span class="y-line y-1"></span>
                      <span class="y-line y-2"></span>
                      <span class="y-line y-3"></span>
                      <span class="y-line y-4"></span>
                      <span class="y-line y-5"></span>
                      <span class="y-line y-6"></span>
                      <span class="y-line y-7"></span>
                    </div>
                    <div class="column column-1">
                      <span class="column-value column-value-1">$113</span>
                      <span class="column-shape column-shape-1"></span>
                    </div>
                    <div class="column column-2">
                      <span class="column-value column-value-2">$123</span>
                      <span class="column-shape column-shape-2"></span>
                    </div>
                    <div class="column column-3">
                      <span class="column-value column-value-2">$129</span>
                      <span class="column-shape column-shape-3"></span>
                    </div>
                    <div class="column column-4">
                      <span class="column-value column-value-2">$156</span>
                      <span class="column-shape column-shape-4"></span>
                    </div>
                    <div class="column column-5">
                      <span class="column-value column-value-2">$159</span>
                      <span class="column-shape column-shape-5"></span>
                    </div>
                    <div class="column column-6">
                      <span class="column-value column-value-2">$160</span>
                      <span class="column-shape column-shape-6"></span>
                    </div>
                  </div>
                  <div class="x-labels">
                    <span class="x-label x-1">USAA</span>
                    <span class="x-label x-2">Farmers</span>
                    <span class="x-label x-3">AAA</span>
                    <span class="x-label x-4">Allstate</span>
                    <span class="x-label x-5">Progressive</span>
                    <span class="x-label x-6">Geico</span>
                  </div>
                </div>
                <br><br>
                    
                <h3>직업만족도</h3>
                <p style="font-style: bold;">
                     데이터베이스관리자의 관련 직업인 데이터베이스개발자의 일자리 증가 가능성, 발전 가능성, 및 고용안정성에 대한 재직자들의 직업만족도는 70.4% 입니다.
                  </p><br><br>

                <h3>이 직업의 전망</h3>
                <p style="font-style: bold;">
                  향후 5년간 데이터베이스관리자의 관련 직업인 데이터베이스개발자의 일자리 규모는 현 상태를 유지하거나 다소 증가할 전망입니다. 모바일기기의 폭발적인 증가는 데이터 사용의 폭증으로 이어지고, 이는 실시간 대용량 데이터 분석에 대한 수요로 이어졌으며, 빅데이터의 실제적인 활용은 향후 DB산업의 안정적인 수요로 작용할 전망입니다. 이러한 상황을 종합하면 데이터베이스개발자의 일자리는 현 상태를 유지하거나 다소 증가할 것으로 전망됩니다. 
                  </p><br><br>
              </div>                               
            </form>
            <a class="btn-solid-lg page-scroll" href="/jobs">목록으로</a>
            </div>

          <!-- Tab3 -->
          <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_6'>
            <form method='post' enctype='multipart/form-data' id='gform_6' action='/#/'>
              <div class='gform_heading'>
                <h3 class='gform_title'>능력/지식/환경</h3>
                <br>
                <h3>업무수행능력</h3>
                <table>
                  <thead>
                    <tr>
                      <th>중요도</th>
                      <th>능력명</th>
                      <th>설명</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>93</strong></td>
                      <td>전산</td>
                      <td>다양한 목적을 위해 소프트웨어나 인터넷을 활용하거나 프로그램을 작성한다.</td>
                    </tr>
                    <tr>
                      <td><strong>91</strong></td>
                      <td>수리력</td>
                      <td>어떤 문제를 해결하기 위해 체계적으로 이치에 맞는 생각을 해낸다.</td>
                    </tr>
                    <tr>
                      <td><strong>90</strong></td>
                      <td>논리적 분석</td>
                      <td>문제를 해결하기 위해 체계적으로 이치에 맞는 생각을 해낸다.</td>
                    </tr>
                    <tr>
                      <td><strong>88</strong></td>
                      <td>설치</td>
                      <td>작업 지시서에 따라 장비, 도구, 배선, 프로그램을 설치한다
                     </td>
                    </tr>					
                    <tr>
                      <td><strong>86</strong></td>
                      <td>기술설계</td>
                      <td>사용자의 요구에 맞도록 장비와 기술을 개발하여 적용한다
                     </td>
                    </tr>
                    <tr>
                      <td><strong>86</strong></td>
                      <td>추리력</td>
                      <td>문제해결 및 의사결정을 위해 새로운 정보가 가지는 의미를 파악한다
                     </td>
                    </tr>
                    <tr>
                      <td><strong>86</strong></td>
                      <td>조직체계의 분석 및 평가</td>
                      <td>환경이나 조건의 변화가 조직의 체계, 구성, 방식에 어떤 영향을 미칠지 분석하고, 시스템의 효율성을 평가한다
                     </td>
                    </tr>
                    <tr>
                      <td><strong>84</strong></td>
                      <td>기술분석</td>
                      <td>새로운 방법을 고안하고 기존의 방법을 개선하기 위해서 현재 사용되는 도구와 기술을 분석한다
                     </td>
                    </tr>
                    <tr>
                      <td><strong>84</strong></td>
                      <td>창의력</td>
                      <td>주어진 주제나 상황에 대하여 독특하고 기발한 아이디어를 산출한다
                     </td>
                    </tr>
                    <tr>
                     <td><strong>83</strong></td>
                     <td>물적자원 관리</td>
                     <td>업무를 수행하는데 필요한 장비, 시설, 자재 등을 구매하고 관리한다 </td>
                   </tr>
                  </tbody>
                </table><br>

                  <h3>지식중요도</h3>
                  <table>
                     <thead>
                       <tr>
                         <th>중요도</th>
                         <th>능력도</th>
                         <th>설명</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td><strong>100</strong></td>
                         <td>컴퓨터와 전자공학</td>
                         <td>컴퓨터의 하드웨어, 회로판, 처리장치, 반도체, 전자장비에 관한 지식
                        </td>
                       </tr>
                       <tr>
                         <td><strong>100</strong></td>
                         <td>통신</td>
                         <td>전화기, 네트워크, 방송 등의 통신기기를 조작하고 통제하는데 필요한 지식
                        </td>
                       </tr>
                       <tr>
                         <td><strong>94</strong></td>
                         <td>산수와 수학</td>
                         <td>연산, 대수학, 통계, 기하학의 계산 및 응용에 관한 지식
                        </td>
                       </tr>
                       <tr>
                         <td><strong>86</strong></td>
                         <td>영어</td>
                         <td>영어를 읽고, 쓰고, 듣고 말하는데 필요한 지식
                        </td>
                       </tr>					
                       <tr>
                         <td><strong>85</strong></td>
                         <td>사무</td>
                         <td>워드 프로세스, 문서처리 및 기타 다른 사무절차에 관한 지식
                        </td>
                       </tr>
                       <tr>
                         <td><strong>75</strong></td>
                         <td>국어</td>
                         <td>맞춤법, 작문법, 문법에 관한 지식                        </td>
                       </tr>
                       <tr>
                         <td><strong>63</strong></td>
                         <td>의사소통과 미디어</td>
                         <td>말, 글, 그림 등을 이메일이나 방송매체를 통해 전달하는 것에 관한 지식
                        </td>
                       </tr>
                       <tr>
                         <td><strong>62</strong></td>
                         <td>공학과 기술</td>
                         <td>다양한 물건을 만들고 설계하거나 서비스를 제공하기 위해 필요한 공학적인 원리, 기법, 장비 등을 실제로 적용시키는 지식
                        </td>
                       </tr>
                       <tr>
                         <td><strong>61</strong></td>
                         <td>기계</td>
                         <td>기계와 도구를 사용하고, 수리·유지하는 것과 관련된 지식
                        </td>
                       </tr>
                       <tr>
                        <td><strong>58</strong></td>
                        <td>법</td>
                        <td>법률, 규정에 관한 지식</td>
                      </tr>
                     </tbody>
                   </table><br><br>

                  <h3>업무환경</h3>
                  <table>
                     <thead>
                       <tr>
                         <th>중요도</th>
                         <th>능력명</th>
                         <th>설명</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td><strong>94</strong></td>
                         <td>반복적인 신체행동, 정신적 활동</td>
                         <td>지속적이고 반복적인 신체적 행동이나 정신적 활동의 중요성
                        </td>
                       </tr>
                       <tr>
                         <td><strong>92</strong></td>
                         <td>다른 사람들을 조율하거나 이끌기</td>
                         <td>업무 특성상 다른 사람들을 조율하거나 이끄는 것의 중요성
                        </td>
                       </tr>
                       <tr>
                         <td><strong>91</strong></td>
                         <td>앉아서 근무</td>
                         <td>앉아서 근무하는 빈도                        </td>
                       </tr>
                       <tr>
                         <td><strong>90</strong></td>
                         <td>자동화 정도</td>
                         <td>업무의 자동화 정도</td>
                       </tr>					
                       <tr>
                         <td><strong>86</strong></td>
                         <td>의사결정 권한</td>
                         <td>해야 할 일, 일의 우선순위, 목표를 정할 수 있는 재량 정도
                        </td>
                       </tr>
                       <tr>
                         <td><strong>86</strong></td>
                         <td>다른 사람과의 상호작용</td>
                         <td>업무 수행위해 팀/집단으로 함께 일하는 것의 중요성
                        </td>
                       </tr>
                       <tr>
                         <td><strong>85</strong></td>
                         <td>이메일 이용하기</td>
                         <td>업무 수행하면서 이메일 사용하는 정도
                        </td>
                       </tr>
                       <tr>
                         <td><strong>82</strong></td>
                         <td>이미지/평판/재정에 미치는 영향력</td>
                         <td>본인의 의사결정이 다른 사람 또는 회사 이미지/평판/재정에 영향을 주는 빈도
                        </td>
                       </tr>
                       <tr>
                         <td><strong>81</strong></td>
                         <td>다른 사람과의 접촉</td>
                         <td>업무 수행을 위해 정밀하거나 정확한 것의 중요성
                        </td>
                       </tr>
                     </tbody>
                   </table><br><br>
                </div>
            </form>
            <a class="btn-solid-lg page-scroll" href="/jobs">목록으로</a>
            </div>

          <!-- Tab4 -->
            <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_7'>
              <form method='post' enctype='multipart/form-data' id='gform_7' action='/#/'>
                <div class='gform_heading'>
                  <h3 class='gform_title'>학습 로드맵</h3>
                  <div class="bg-white h-100 w-100 py-4">
                    <div class="d-flex justify-content-center align-items-center flex-column mb-4">
                       <h1 class="mb-2 text-black text-center">데이터베이스관리자 학습 로드맵</h1>
                       <p class="w-75 text-black text-center">
                        졸업하면 뭐하지?에서 제안하는 학습 로드맵입니다.
                      </p>
                    </div>
                 
                    <main id="infographic" class="d-flex flex-column align-items-center py-5">
                       <section class="step one text-danger">
                          <div class="circle">
                             <i class="fa-solid fa-meteor display-1 mb-3"></i>
                             <h4>STEP 1</h4>시작해봅시다!
                          </div>
                          <article data-step="1">
                             <header class="d-flex align-items-center bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">CS 지식</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                    컴퓨터는 어떻게 동작하는지? 인터넷이 어떻게 동작하는지?<br>
                                    기본적인 터미널, 깃 사용법, 데이터 구조 & 알고리즘<br>
                                    APIs, REST, 정혁 vs 비정형 데이터
                              </small>
                 
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger invisible" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="2">
                             <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">프로그래밍 언어 학습</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                 Python, Java, Scala, Go 등 프로그래밍 언어의 학습이 필요해요.
                                 </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="3">
                             <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">테스트</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                    Unit Test, Integration Test, Functional Test 등 테스트란 무엇이고, 왜, 어떤 식으로 진행되는지에 대한 학습이 필요해요.
                                 </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="4">
                             <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">데이터베이스 지식</h6>
                             </header>
                 
                             <div class="body">
                                <small>
                                    SQL, Normalisation, ACID transactions 에 대한 학습과 OLTP 와 OLAP의 차이점, 수평적 vs 수직적 구조의 차이,
                                    CAP theorem, Dimenstional modeling 에 대한 학습이 필요해요.
                                 </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="5">
                             <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">관계형 데이터베이스</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                    MySQL, PostgreSQL, MariaDB, Amazon Aurora 에 대한 학습이 필요해요.
                                 </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                       </section>
                       <section class="step two text-warning">
                          <div class="circle">
                             <i class="fa-solid fa-cookie-bite display-1 mb-3"></i>
                             <h4>STEP 2.</h4>거의 다 왔습니다. 잘하고 있어요!
                          </div>
                          <article data-step="6">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">비관계형 데이터베이스</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                    - Document : MongoDB, Elasticsearch, Apache CouchDB, Azure CosmosDB<br>
                                    - Wide column : Apache Cassandra, Apache HBase, Google Bigtable<br>
                                    - Graph : Neo4j<br>
                                    - Key-value : Redis, Memcached, Amazon DynamoDB
                                 </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="7">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">데이터 웨어하우스</h6>
                             </header>
                 
                             <div class="body">
                                 <small> 
                                    SnowFlake, Presto, Aapche Hive, Apache Impala, Amazon Redshift, Google BigQuery,
                                    Azure Synapse, ClickHouse
                                 </small>
                                 <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="8">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">Object storage</h6>
                             </header>
                 
                             <div class="body">
                                <small>
                                 AWS S3, Azure Blob Storage, Google Cloud Storage 에 대한 학습이 필요해요.
                                 </small>
                                 <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="9">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">클러스터 컴퓨팅</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                 Apache Hadoop, HDFS, MapReduce, Lambda & Kappa architectures, Managed Hadoop 에 대한 학습이 필요해요.
                              </small>
                                 <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                 </div>
                             </div>
                          </article>
                          <article data-step="10">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">클러스터 컴퓨팅 ++</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                 Amazon EMR, Google Dataproc, Azure Data Lake 에 대한 추가 학습 또한 진행하시면 좋아요.
                                 </small>
                                 <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                       </section>
                       <section class="step three text-success">
                          <div class="circle">
                             <i class="fa-solid fa-ghost display-1 mb-3"></i>
                             <h4>STEP 3.</h4>고생하셨습니다. 하지만 배움에는 끝이 없다는 것 아시죠?
                          </div>
                          <article data-step="11">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">데이터 처리</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                    Batch - Apache Pig, Apache Arrow, data build tool
                                    Hybrid - Apche Spark, Apache Beam, Apache Flink, Apache NiFi
                                    Streaming - Apache Kafka, Apache Storm, Apache Samza, Amazon Kinesis 에 대한 학습이 필여해요.
                                </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="12">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">메세징</h6>
                             </header>
                 
                             <div class="body">
                                <small>
                                 Amazon SNS % SQS, Google PubSub, Azure Service Bus 에 대한 학습을 진행하세요.
                                 RabbitMQ, Apache ActiveMQ 에 대한 추가 학습도 진행하세요.
                                 </small>
                                 <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="13">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">워크플로우 스케줄링</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                 Apche Airflow, Google Composer, Apache Oozie, Luigi 에 대한 학습을 진행하세요.
                                 </small>
                                 <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="14">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">네트워킹</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                 Protocols, Firewalls, VPN, VPC 에 대한 학습을 진행하세요.
                                 추가적으로 HTTP/HTTPS, TCP, SSH, IP ,DNS 에 대해서도 학습하세요.
                                 </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="15">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">데이터 보안</h6>
                             </header>
                 
                             <div class="body">
                                <small> 
                                    키 관리체계, 암호화, legal compliance, Data governance & integrity 에 대한 학습을 진행하세요.
                                 </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                       </section>
                    </main>
                 </div>
                </div>                              
              </form>
              <a class="btn-solid-lg page-scroll" href="/jobs">목록으로</a>
              </div>
        </div>
    </div>
      <!-- Site footer -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify"><i> 졸업하면 뭐하지?</i> 는 졸업 후 진로 고민, 취업 고민, 스펙 업에 대한 고민 등 우리가 앞으로 나아가면서 발생하는 고민들에 대한 도움을 줍니다. 또한 우리는 효율적인 시간의 사용에 도움을 주고 여러분의 발전을 기원합니다. 미래를 향한 발걸음을 저희와 함께 내딛어봅시다. <div class=""></div></p>
            </div>
            <div class="col-xs-6 col-md-3">
              <h6>Category</h6>
              <ul class="footer-links">
                <li><a href="">공모전</a></li>
                <li><a href="">직업백과</a></li>
                <li><a href="">자격증추천</a></li>
                <li><a href="">커뮤니티</a></li>
                <li><a href="">채용공고</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-md-3">
              <h6>Quick</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">운영진</a></li>
                <li><a href="http://scanfcode.com/contact/">문의</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/"></a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">개인보호관리정책</a></li>
                <li><a href="http://scanfcode.com/sitemap/">보안</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
           <a href="/">졸업하면 뭐하지?</a>.
              </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100005190901844"><i class="fa fa-facebook"></i></a></li>
                <li><a class="kakao" href="https://open.kakao.com/o/sBP4v6nf"><i class="fa fa-kakao"></i></a></li>
                <li><a class="instagram"href="https://www.instagram.com/__kimsunwoong/"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
  </footer>
    <!-- Scripts -->
    <!-- Scripts -->
    <script src="/js/home/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/js/home/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/js/home/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/js/home/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/js/home/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/js/home/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/js/home/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/js/home/scripts.js"></script> <!-- Custom scripts -->
    <script src="/js/home/tab.js"></script> <!-- Custom scripts -->
    <script src="/js/home/graph.js"></script> <!-- Custom scripts -->
    <script src="/js/home/roadmap.js"></script> <!-- Custom scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
</body>
</html>