<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="졸업하면 뭐하지" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>졸업하면 뭐하지?</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/home/bootstrap.css" rel="stylesheet">
	  <link href="/css/home/styles.css" rel="stylesheet">
    <link href="/css/home/custom.css" rel="stylesheet">
    <link href="/css/home/tab.css" rel="stylesheet">
    <link href="/css/home/roadmap.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<!-- Favicon  -->
    <link rel="icon" href="images/icon1.png">
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand logo-image" href="/"><img src="/contents/logo.png" style="width: 140px; height: 80px;" alt="alternative"></a> 
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="/">졸업하면 뭐하지?</a> -->
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/hire"> 채용정보 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/gongmo"> 공모전정보 </a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/license"> 자격증백과 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/jobs"> 직업백과 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/community"> 커뮤니티 </a>
                    </li>
                </ul>
                  <span class="nav-item">
                    <a class="btn-outline-sm" href="/login">로그인</a>
                </span>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->    
</head>
<body>
  <header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xl-8">
                    <div class="text-container">
                        <h1>웹개발자</h1>
                        <p class="p-large">
                          
                        </p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->

      <div id="job-main">  
        <div id="title">
          <h1>웹개발자</h1>
        </div>
        <div id="tabbed-forms" class="cliffs-tabbed-forms">
          <!-- Tab 1 -->
          <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_4'>
            <form method='post' enctype='multipart/form-data' id='gform_4' action='/#/'>
              <div class='gform_heading'>
                <h3 class='gform_title'>요약하기</h3><br>
                <h3>하는일</h3>
                <p style="font-style: bold;">
                  데이터베이스관리자는 컴퓨터를 사용하여 각종 데이터를 체계적으로 수집, 정리, 가공하거나 입력하여 데이터베이스를 구축, 관리, 분석하는 일을 합니다.
                  데이터베이스를 분석하고 전산시스템 사용자에 대한 등록, 데이터 접근 범위, 읽고 쓰기 권한, 사용자 로그인 및 암호를 관리합니다.
                  데이터베이스 시스템에 장애가 발생하거나 서버 부품의 고장으로 인해 문제가 발생하면 신속히 원인을 파악하고 빠르게 시스템을 복구합니다.
                  데이터베이스를 매일 또는 정기적으로 백업하거나 보관하여 데이터의 손실을 예방합니다.
                  고객이 요구하는 특정 분야의 자료를 일정 기간 동안 수집하여 정리하고, 입력된 자료를 검토하여 문제점을 보완합니다.                
                  <br><br>
                
                <h3>핵심능력</h3>
                <p> 
                  수리, 논리력
                </p>
                <br><br>
                <h3>적성 및 흥미</h3><br>

                <h5>적성</h5>
                <p>IT분야로 진출을 희망하고 있다면 반드시 취득해야 하는 자격증이다. 워낙 대중적이고 난이도도 쉬워 보유해도 경력에 크게 작용하지 않는다고 의견도 많기는 하나, 여러 가지 이유로 반드시 취득하는게 좋다. 제일 보편적이고 일반적인 IT 자격증이다. 즉 IT 업계에서 면허증과 같은 자격으로 인식되어 있고, 지금 당장 많은 경력과 실력으로 증명할 수 없다면 불이익을 받을 수 있는 확률이 높고 정보처리기사 학습 지식이 아예 도움이 되지 않는 것은 아니다. 적어도 기술적 용어들에 대한 이해와 암기가 가능하고 이는 상호간의 원활한 커뮤니케이션과 본인의 업무처리능력과도 직결될 수 있다는 점이다. 또한 사람에 대한 성실성, 학습 의지의 지표가 될 수 있고 짧은 기간만 투자해도 획득할 수 있다.
                </p><br>
                
                <h5>흥미</h5>
                <p>
                  정보시스템의 데이터베이스서버에 저장된 데이터를 다루기 때문에 최신 기술 정보나 데이터와 관련된 관리 방법을 탐구하는 것을 좋아하는 사람에게 적합합니다.
                  팀에 소속되어 일하거나 데이터베이스와 관련된 정보를 공유하고 소통하는 경우도 있기 때문에 사람들과 같이 일하는 것을 어려워하지 않는 사람에게 적합합니다.                
                </p><br>

                <h3>태그</h3>
                <p> 
                  IT, DB관리자, DB, 빅데이터, 개발자, 기술자, 컴퓨터
                </p>
                <br><br>
    
                <h3>평균연봉</h3>
                <p> 
                  4,600만원
                </p>
                <br><br>

                <h3>준비방법</h3><br>
                
                <h5>정규교육과정</h5>
                <p>
                  전문대학 및 대학교에서 컴퓨터공학과, 전자공학과, 정보처리학과 등을 전공하는 것이 유리합니다.                
                </p><br><br>

                <h5>직업훈련</h5>
                <p>
                  직업훈련포털을 통해 사설 학원에서 운영하는 데이터관리, 오라클, MySQL, 빅데이터 등과 관련된 교육 과정을 통해 훈련을 받을 수 있습니다.
                </p><br><br>

                <h5>관련자격증취득</h5>
                <p>
                  국가자격증으로는 한국산업인력공단에서 시행하는 정보처리기사, 정보처리산업기사나 민간공인 자격증인 SQL등이 있습니다.                
                </p><br><br>

                <h5>입직 및 취업방법</h5>
                <p>
                  정보컨설팅업체, 시스템통합(SI)업체, 시스템 개발업체 등 대량의 데이터를 관리하고 유통하는 일반기업 및 공공기관 등에 공개 채용이나 특별 채용을 통해 취업할 수 있습니다.                
                  데이터베이스 관련 분야에 취업하기 위해서는 데이터 관련 직업훈련을 받고 실무 경력을 쌓거나 전문대학이나 대학교에서 정보통신공학을 전공하는 것이 필요하며, 데이터 분석 분야는 대학교 및 석사 또는 박사 졸업의 학력이 요구되기도 합니다.
                </p><br><br>

                <h3>직업전망</h3>
                <p> 
                  향후 5년간 데이터베이스관리자의 관련 직업인 데이터베이스개발자의 일자리 규모는 현 상태를 유지하거나 다소 증가할 전망입니다. 모바일기기의 폭발적인 증가는 데이터 사용의 폭증으로 이어지고, 이는 실시간 대용량 데이터 분석에 대한 수요로 이어졌으며, 빅데이터의 실제적인 활용은 향후 DB산업의 안정적인 수요로 작용할 전망입니다. 이러한 상황을 종합하면 데이터베이스개발자의 일자리는 현 상태를 유지하거나 다소 증가할 것으로 전망됩니다.
                </p>
                <br><br>
              </div>                               
            </form>
            <a class="btn-solid-lg page-scroll" href="/jobs">목록으로</a>
            </div>
          
          <!-- Tab2 -->
          <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_5'>
            <form method='post' enctype='multipart/form-data' id='gform_5' action='/#/'>
              <div class='gform_heading'>
                <h3 class='gform_title'>임금/만족도/전망</h3>
                <h3>임금수준 및 직업만족도</h3>
                <p style="font-style: bold;">
                  데이터베이스관리자의 관련 직업인 데이터베이스개발자의 평균연봉(중앙값)은 4,600만원으로, 조사 대상 전체 직업 평균연봉(중앙값)인 4,072만원과 비교하여 높은 수준입니다. (자료 : 워크넷, 데이터베이스개발자(2021))
                  <br><br>
                  <p style="font-style: bold;">
                    데이터베이스관리자의 관련 직업인 데이터베이스개발자의 평균연봉(중앙값)은 4,600만원으로, 조사 대상 전체 직업 평균연봉(중앙값)인 4,072만원과 비교하여 높은 수준입니다. (자료 : 워크넷, 데이터베이스개발자(2021))
                    <br><br>
              </div>                               
            </form>
            </div>

          <!-- Tab3 -->
          <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_6'>
            <form method='post' enctype='multipart/form-data' id='gform_6' action='/#/'>
              <div class='gform_heading'>
                <h3 class='gform_title'>성격/흥미/가치관</h3>
                </div>
            </form>
            </div>

          <!-- Tab4 -->
            <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_7'>
              <form method='post' enctype='multipart/form-data' id='gform_7' action='/#/'>
                <div class='gform_heading'>
                  <h3 class='gform_title'>학습 로드맵</h3>
                  <div class="bg-white h-100 w-100 py-4">
                    <div class="d-flex justify-content-center align-items-center flex-column mb-4">
                       <h1 class="mb-2 text-black text-center">웹개발자 학습 로드맵</h1>
                       <p class="w-75 text-black text-center">
                        졸업하면 뭐하지?에서 제안하는 학습 로드맵입니다.
                      </p>
                    </div>
                 
                    <main id="infographic" class="d-flex flex-column align-items-center py-5">
                       <section class="step one text-danger">
                          <div class="circle">
                             <i class="fa-solid fa-meteor display-1 mb-3"></i>
                             <h4>STEP 1</h4>시작해봅시다!
                          </div>
                          <article data-step="1">
                             <header class="d-flex align-items-center bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                 
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger invisible" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="2">
                             <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="3">
                             <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="4">
                             <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="5">
                             <header class="d-flex align-items-center text-danger bg-danger bg-opacity-10">
                                <i class="fa-solid fa-meteor bg-danger"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-danger" href="#">Prev</a>
                                   <a class="btn btn-outline-danger" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                       </section>
                       <section class="step two text-warning">
                          <div class="circle">
                             <i class="fa-solid fa-cookie-bite display-1 mb-3"></i>
                             <h4>STEP 2.</h4>You're doing great!
                          </div>
                          <article data-step="6">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                 
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="7">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="8">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="9">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="10">
                             <header class="d-flex align-items-center text-warning bg-warning bg-opacity-10">
                                <i class="fa-solid fa-cookie-bite bg-warning"></i>
                                <h6 class="text-uppercase my-3 pe-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-warning" href="#">Prev</a>
                                   <a class="btn btn-outline-warning" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                       </section>
                       <section class="step three text-success">
                          <div class="circle">
                             <i class="fa-solid fa-ghost display-1 mb-3"></i>
                             <h4>STEP 3.</h4>Almost There!
                          </div>
                          <article data-step="11">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                 
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="12">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="13">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="14">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="15">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-ghost bg-success px-3"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                          <article data-step="16">
                             <header class="d-flex align-items-center text-success bg-success bg-opacity-10">
                                <i class="fa-solid fa-flag-checkered bg-success display-2 p-4"></i>
                                <h6 class="text-uppercase my-3 ps-4">Lorem Ipsum dolor sit Amet</h6>
                             </header>
                 
                             <h6 class="text-uppercase my-3 ps-4"></h6>
                             <div class="body">
                                <small> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small>
                                <div class="d-flex justify-content-between mt-3 controls">
                                   <a class="btn btn-outline-success" href="#">Prev</a>
                                   <a class="btn btn-outline-success invisible" href="#">Next</a>
                                </div>
                             </div>
                          </article>
                       </section>
                    </main>
                 </div>
                </div>                              
              </form>
              </div>
        </div>
    </div>
      <!-- Site footer -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify"><i> 졸업하면 뭐하지?</i> 는 졸업 후 진로 고민, 취업 고민, 스펙 업에 대한 고민 등 우리가 앞으로 나아가면서 발생하는 고민들에 대한 도움을 줍니다. 또한 우리는 효율적인 시간의 사용에 도움을 주고 여러분의 발전을 기원합니다. 미래를 향한 발걸음을 저희와 함께 내딛어봅시다. <div class=""></div></p>
            </div>
            <div class="col-xs-6 col-md-3">
              <h6>Category</h6>
              <ul class="footer-links">
                <li><a href="">공모전</a></li>
                <li><a href="">직업백과</a></li>
                <li><a href="">자격증추천</a></li>
                <li><a href="">커뮤니티</a></li>
                <li><a href="">채용공고</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-md-3">
              <h6>Quick</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">운영진</a></li>
                <li><a href="http://scanfcode.com/contact/">문의</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/"></a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">개인보호관리정책</a></li>
                <li><a href="http://scanfcode.com/sitemap/">보안</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
           <a href="/">졸업하면 뭐하지?</a>.
              </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100005190901844"><i class="fa fa-facebook"></i></a></li>
                <li><a class="kakao" href="https://open.kakao.com/o/sBP4v6nf"><i class="fa fa-kakao"></i></a></li>
                <li><a class="instagram"href="https://www.instagram.com/__kimsunwoong/"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
  </footer>
    <!-- Scripts -->
    <!-- Scripts -->
    <script src="/js/home/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/js/home/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/js/home/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/js/home/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/js/home/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/js/home/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/js/home/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/js/home/scripts.js"></script> <!-- Custom scripts -->
    <script src="/js/home/tab.js"></script> <!-- Custom scripts -->
    <script src="/js/home/roadmap.js"></script> <!-- Custom scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>